/* Global css variables used for colors */
:root {
	--primary: #2d9644;
	--secondary: #92ce7f;
	--treedary: #d2face;
}

body {
	
	
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;

display: grid;
grid-template-columns: 1fr 2fr;


}



#clickcounter {
	font-weight: bold;
	background-color: transparent;
	white-space: nowrap;
}
#clickcounter:hover {
	color: var(--primary);
	cursor: default;
}

#namehere {
	width: 95%;
	margin: 0% 0 5% 0;
	text-align: center;
	color: var(--primary);
	font-weight: bold;
	font-size: 1.5em;
	padding: 1px 0 0 0;
}

h1 {
	font-size: 43px;
	font-weight: 500;
	line-height: 48px;
	margin: 10px 0;
	color: white;
}

.question-section {
	padding: 20px;
	
	background-color: var(--secondary);
	display: flex;
	flex-direction: column;
	
}

.select {
	display: block;
	border: none;
	font-size: 19px;
	font-family: "Montserrat";
	color: var(--secondary);
	width: 90%;
	margin: 0px 0;
	height: fit-content;
}

.guess-who-icon {
	width: 126px;
	align-self: flex-start;
}

.board-wrapper{
	width: 98%;
	height: 100vh;
padding: 10px;

}




.game-board {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-auto-rows: 1fr;
	grid-gap: 10px;

}

/****** CARD ******/




.card {

height:100%;
width:100%;

	overflow: hidden;
	border: 3px solid var(--secondary);
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.card img{

	height: 100%;
	width: 100%;

}

.card p {
	text-align: center;
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 700;
}

.card .guess {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	text-align: center;
	height: inherit;
}

.card:hover {
	background-color: var(--secondary);
}

.card:hover img,
.card:hover p {
	display: none;
}

/* The div with the guess class is only shown on hover */
.card:hover .guess {
	display: flex;
}

.guess span {
	font-size: 16px;
	line-height: 18px;
	font-weight: 600;
	margin-bottom: 8px;
	width: 90%;
}

/****** BUTTONS ******/
button {
	border: 2px solid var(--primary);
	border-radius: 50px;
	font-size: 16px;
	font-family: "Montserrat";
	font-weight: bold;
margin: 20px;
	padding: 17px 20px;
	cursor: pointer;
}

.small {
	padding: 8px 16px;
}

.outlined-button {
	background-color: transparent;
	color: var(--primary);
	width: fit-content;
}

.filled-button,
.outlined-button:hover {
	background-color: var(--primary);
	color: white;
}

.filled-button:hover {
	background-color: var(--treedary);
	border-color: var(--primary);
	color: var(--primary);
}

/****** WIN OR LOSE SECTION ******/
.win-or-lose-wrapper {
	display: none;
	align-items: center;
	justify-content: center;
	background: var(--secondary);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
}

.win-or-lose {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 700px;
	text-align: center;
}

.win-or-lose img {
	align-self: flex-start;
	margin-left: 15%;
}

.win-or-lose h1 {
	margin-bottom: 32px;
}

@media (min-width: 768px) and (max-width: 1024px) {
	body {
		
		
		grid-template-columns: 1fr;
		
		
		}

	.question-section {
		padding:10px 0px;
	width: 98%;
	
	}

	#clickcounter {
		margin-left: 0%;
		margin-top: 0px;
	}

	button {
		padding: 8px 16px;
	}
	h1 {
		font-size: 24px;
		line-height: 30px;
	}

	.guess-who-icon {
		width: 51px;
	}

	
	.board-wrapper{
		max-width: 98%;
		height: 100%;
	padding: 0px;
	
	}
	

	.game-board {
	width: 100%;
	height: 100%;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: 1fr;
	    grid-gap: 10px;
	
	
	}






	.card .guess {
		display: flex;
		top: 0;
		position: absolute;
		justify-content: flex-end;
	}

	.card .guess span {
		display: none;
	}

	.card .guess .filled-button {
		padding: 6px 11px;
		margin-bottom: 1px;
		background: white;
		color: var(--primary);
		border: none;
	}
}

@media (max-width: 768px){
	body {
		
	
		grid-template-columns: 1fr;
		
		
		}

		.board-wrapper{
			width: 98%;
			height: 100%;
		padding: 10px;
		
		}
	

		.game-board {
	
		grid-template-columns: repeat(1, 1fr);
	   grid-gap: 10px;
		justify-content: center;
		align-items: center;
	}




	



}
