/* Global css variables used for colors */
:root {
  /* --primary: #a259ff;
  --secondary: #b0a6ff; */
  /* --primary: #ffe9c9; */
  --primary: #aa6c4b;
  --secondary: #fa8128;
  /* --secondary: #da9875; */
}

body {
  background-color: #cad0db;
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 35px;
  font-weight: 600;
  line-height: 48px;
  margin: 10px 0;
  color: white;
}

#numberOfQuestions {
  padding-top: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 48px;
  margin: 15px 0;
  color: white;
}

#questions option {
  /* background: lightblue; */
}

.question-section {
  width: 30%;
  min-height: 100vh;
  background-color: var(--secondary);
  background-image: url(images/imagebackground.png);
  background-size: 50%;
  display: flex;
  flex-direction: column;
  padding: 5vw;
  align-items: flex-start;
  box-sizing: border-box;
}

#playerNameHere {
  padding-top: 10px;
  font-weight: 500;
  width: 100%;
  height: 50px;
  font-size: 20px;
  color: white;
}

input {
  font-size: 20px;
  color: var(--secondary);
  outline: none;
  border: none;
  margin-top: 1rem;
}

select {
  display: block;
  border: none;
  font-size: 22px;
  font-family: "Montserrat";
  color: var(--secondary);
  width: 100%;
  margin: 24px 0;
}

.guess-who-icon {
  width: 200px;
}

.board-wrapper {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-board {
  width: 90%;
  max-width: 882px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

/****** CARD ******/
.card {
  width: 135px;
  height: 165px;
  overflow: hidden;
  border: 3px solid var(--secondary);
  border-radius: 4px;
  margin: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card p {
  text-align: center;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 700;
}

.card .guess {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  height: inherit;
}

.card:hover {
  background-color: var(--secondary);
  /* background-color: #b0a6ff79;
  opacity: 50%; */
}

.card:hover img,
.card:hover p {
  display: none;
}

/* The div with the guess class is only shown on hover */
.card:hover .guess {
  display: flex;
}

.guess span {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  margin-bottom: 8px;
  width: 90%;
}

.timer {
  border: 2px solid var(--primary);
  background-color: #eddfff;
  color: var(--primary);
  border-radius: 30px;
  font-size: 12px;
  font-family: "Montserrat";
  font-weight: bold;
  padding: 17px 27px;
  margin-top: 35px;
  align-self: center;
}

/****** BUTTONS ******/
button {
  border: 2px solid var(--primary);
  border-radius: 50px;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: bold;
  padding: 17px 27px;
  cursor: pointer;
}

.small {
  padding: 8px 16px;
}

.outlined-button {
  background-color: transparent;
  color: var(--primary);
  align-self: flex-end;
}

.filled-button,
.outlined-button:hover {
  background-color: var(--primary);
  color: white;
}

.filled-button:hover {
  background-color: white;
  border-color: white;
  color: var(--primary);
}

/****** WIN OR LOSE SECTION ******/
.win-or-lose-wrapper {
  display: none;
  align-items: center;
  justify-content: center;
  background: var(--secondary);
  background-image: url(images/imagebackground.png);
  background-size: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
}

.win-or-lose {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  text-align: center;
}

.win-or-lose img {
  align-self: flex-start;
  padding: 10px;
  /* margin-left: 15%; */
}

.win-or-lose h1 {
  margin-bottom: 32px;
}

/* #secretImage img {
  overflow-clip-margin: content-box;
  overflow: clip;
} */

footer {
  display: none;
}
footer h4 {
  display: none;
}

@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  .question-section {
    width: 100%;
    min-height: 0;
  }
  button {
    padding: 8px 16px;
    margin: 0 auto;
  }
  h1 {
    font-size: 24px;
    line-height: 30px;
    margin: 10px 25px;
  }

  #playerNameHere {
    text-align: center;
    font-weight: 600;
  }
  input {
    max-width: 150px;
  }
  #numberOfQuestions {
    align-self: center;
    font-weight: 600;
    font-size: 18px;
  }

  #mainQuestion {
    align-self: center;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
  }

  .guess-who-icon {
    /* width: 51px; */
    width: 150px;
    margin: 10px 20px;
  }

  .board-wrapper {
    width: 100%;
  }

  .game-board {
    width: 100%;
    /* width: 100 original; */
    max-width: 750px;
    /* Added */
    justify-content: center;
  }

  .card {
    width: 113px;
    position: relative;
  }

  .card .guess {
    display: flex;
    top: 0;
    position: absolute;
    justify-content: flex-end;
  }

  .card .guess span {
    display: none;
  }

  .card .guess .filled-button {
    padding: 6px 11px;
    margin-bottom: 1px;
    background: white;
    color: var(--primary);
    border: none;
  }
  .timer {
    margin-top: 10px;
  }
  footer {
    display: block;
    margin-top: 15px;
    height: 7em;
    padding: 5px;
    background-color: var(--secondary);
    box-sizing: border-box;
    width: 100%;
  }
  footer h4 {
    display: block;
    font-weight: 300;
    text-align: center;
    color: white;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
  }
}
