/* Global css variables used for colors */
:root {
  --primary: #a259ff;
  --secondary: #b0a6ff;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.logo {
  font-family: "GoodGirl", sans-serif;
  font-size: 45px;
  font-weight: 500;
  line-height: 60px;
  margin: 10px 0;
  color: rgb(253, 11, 11);
  letter-spacing: 1px;
  align-self: center;
}

.does-the-person {
  color: white;
  font-weight: 300;
  font-size: 14px;
  line-height: 0px;
  align-self: center;
}

.question-section {
  width: 100%;
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  padding: 10px 15px 2px 15px;
  align-items: flex-start;
  box-sizing: border-box;
  margin-bottom: 5px;
}

select {
  display: block;
  border: white;
  font-size: 14px;
  font-weight: 300;
  font-family: "Montserrat";
  color: white;
  background-color: var(--secondary);
  width: 100%;
  max-width: 230px;
  padding: 2px;
  margin-top: 5px;
  margin-bottom: 15px;
  align-self: center;
  appearance: none;
  text-align: center;
}

.counters {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  padding-top: 4px;
}

.question-counter {
  color: white;
  font-size: 14px;
}

.guess-counter {
  color: white;
  font-size: 14px;
}

.board-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-board {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

/****** CARD ******/

.card {
  width: 83px;
  height: 115px;
  overflow: hidden;
  border: 2px solid var(--secondary);
  border-radius: 4px;
  margin: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.character-image {
  min-height: 100px;
  width: 90px;
}

.card p {
  text-align: center;
  margin: 7px 0 0 0;
  font-size: 14px;
  font-weight: 600;
}

.card .guess {
  display: flex;
  top: 0;
  position: absolute;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  height: inherit;
}

.card .guess .filled-button {
  padding: 6px 11px;
  margin-bottom: 1px;
  background: white;
  color: var(--primary);
  border: none;
}

.card .guess span {
  display: none;
}

.card:hover {
  background-color: var(--secondary);
}

.card:hover img,
.card:hover p {
  display: none;
}

/* The div with the guess class is only shown on hover */

.card:hover .guess {
  display: flex;
}

.guess span {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  margin-bottom: 8px;
  width: 90%;
}

/****** BUTTONS ******/

button {
  border: 2px solid var(--primary);
  border-radius: 30px;
  font-size: 12px;
  font-family: "Montserrat";
  font-weight: bold;
  padding: 8px 13px;
  cursor: pointer;
  align-self: center;
}

.small {
  padding: 5px 10px;
}

.outlined-button {
  background-color: transparent;
  color: var(--primary);
  align-self: flex-end;
}

.filled-button,
.outlined-button:hover {
  background-color: var(--primary);
  color: white;
}

.filled-button:hover {
  background-color: white;
  border-color: white;
  color: var(--primary);
}

/****** WIN OR LOSE SECTION ******/

.win-or-lose-wrapper {
  display: none;
  align-items: center;
  justify-content: center;
  background: var(--secondary);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
}

.win-or-lose {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  text-align: center;
}

.win-or-lose h2 {
  margin-bottom: 32px;
  color: white;
}

/*------------- TABLET -------------------------------------------------------------- */

@media (min-width: 668px) {
  .logo {
    font-family: "GoodGirl", sans-serif;
    font-size: 70px;
    font-weight: 500;
    line-height: 80px;
    margin: 15px 25px 35px 25px;
  }
  .card {
    width: 135px;
    height: 165px;
    border: 3px solid var(--secondary);
    border-radius: 4px;
    margin: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .character-image {
    min-height: 150px;
    min-width: 140px;
  }
}

/*------------- DESKTOP -------------------------------------------------------------- */

@media (min-width: 1025px) {
  .question-section {
    margin-bottom: 20px;
  }

  .card {
    width: 135px;
    height: 165px;
    border: 3px solid var(--secondary);
    border-radius: 4px;
    margin: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .character-image {
    min-height: 150px;
    min-width: 140px;
  }

  .card .guess span {
    display: flex;
  }
}

.card .guess {
  display: none;
  justify-content: center;
}
