/* Global css variables used for colors */
:root {
  --primary: #48b3dd;
  --secondary: #eb4f4a;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  margin: 10px 0;
  color: white;
}

.question-section {
  width: 30%;
  min-height: 100vh;
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  padding: 5vw;
  align-items: flex-start;
  box-sizing: border-box;
}

select {
  display: block;
  border: none;
  font-size: 22px;
  font-family: 'Montserrat';
  color: black;
  width: 100%;
  margin: 24px 0;
}

.images {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10%;
}

.guess-who-icon {
  width: 40%;
}

.family-guy-logo {
  width: 60%;
}

.board-wrapper {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter {
  display: flex;
  width: 200px;
  color: black;
  font-size: 25px;
}

.game-board {
  width: 90%;
  max-width: 882px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

/****** CARD ******/

.card {
  width: 135px;
  height: 165px;
  overflow: hidden;
  border: 3px solid var(--secondary);
  border-radius: 4px;
  margin: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgb(121, 116, 116) 3px 4px;
}

.card p {
  text-align: center;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
}

.card .guess {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  height: inherit;
}
.card img {
  width: 100px;
  height: 150px;
  padding: 5px;
}

.card:hover {
  background-color: var(--secondary);
}

.card:hover img,
.card:hover p {
  display: none;
}

/* The div with the guess class is only shown on hover */
.card:hover .guess {
  display: flex;
}

.guess span {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  margin-bottom: 8px;
  width: 90%;
}

/****** BUTTONS ******/
button {
  border: 2px solid var(--primary);
  background-color: var(--primary);
  color: white;
  border-radius: 50px;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: bold;
  padding: 17px 27px;
  cursor: pointer;
  margin-bottom: 15px;
}

.small {
  padding: 8px 16px;
}


.restart-button {
  background-color: var(--primary);
  color: white;
  margin: 0 0 20% 0;
  align-self: flex-end;
}

.restart-button:hover,
.filled-button:hover {
  background-color: white;
  border-color: white;
  color: var(--primary);
}

/*** Timer **/

.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  border: solid white 2px;
  flex-direction: column;
  border-radius: 10px 10px 10px 10px;
}

.timer {
  font-size: 20px;
  font-weight: bold;
  color: black;
  }


/****** WIN OR LOSE SECTION ******/

.win-or-lose-wrapper {
  display: none;
  align-items: center;
  justify-content: center;
  background: var(--secondary);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
}

.win-or-lose {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  text-align: center;
}

.win-or-lose img {
  align-self: flex-start;
  margin-left: 15%;
}

.win-or-lose h1 {
  margin-bottom: 32px;
}

/*** Media queries ***/

@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  .game-board {
    width: 100%;
  }

  .question-section {
    width: 100%;
    min-height: 0;
  }

  button {
    padding: 8px 16px;
  }

  h1 {
    font-size: 24px;
    line-height: 30px;
  }

  .guess-who-icon {
    width: 80px;
  }

  .family-guy-logo {
    width: 30%;
  }

  .board-wrapper {
    width: 100%;
  }

  .counter {
    margin-left: 30%;
  }

  .timer-container {
    margin-left: 25%;
    width: 50%;
  }

  .card {
    width: 113px;
    position: relative;
  }

  .card .guess {
    display: flex;
    top: 0;
    position: absolute;
    justify-content: flex-end;
  }

  .card .guess span {
    display: none;
  }

  .card .guess .filled-button {
    padding: 6px 11px;
    margin-bottom: 1px;
    background: white;
    color: var(--primary);
    border: none;
  }

  .win-or-lose img {
    width: 100%;
    margin: 0;
  }
}


@media (min-width: 769px) and (max-width: 1024px) {

  body {
    flex-direction: column;
  }

  .game-board {
    width: 100%;
  }

  .question-section {
    width: 100%;
    min-height: 0;
  }
  button {
    padding: 8px 16px;
  }
  h1 {
    font-size: 24px;
    line-height: 30px;
  }

  .guess-who-icon {
    width: 80px;
  }

  .family-guy-logo {
    width: 30%;
  }

  .board-wrapper {
    width: 100%;
  }

  .counter {
    width: 33%;
    font-size: 25px;
    margin-left: 33%;
  }

  .timer-container {
    margin-left: 25%;
    width: 50%;
  }

  .card {
    width: 113px;
    position: relative;
  }

  .card .guess {
    display: flex;
    top: 0;
    position: absolute;
    justify-content: flex-end;
  }

  .card .guess span {
    display: none;
  }

  .card .guess .filled-button {
    padding: 6px 11px;
    margin-bottom: 1px;
    background: white;
    color: var(--primary);
    border: none;
  }
}

