/* Global css variables used for colors */
:root {
  --primary: #F9F7E1;
  --secondary: #b0a6ff;
}

.start-page {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  align-items: center;
  justify-content: center;  
  background-color: #44500A;
}

.welcome-text {
  color: #F9F7E1;
  font-size: 70px;
  text-align: center;
}

.start-button {
  border: 1px solid #F99C17;
  border-radius: 50px;
  font-size: 16px;
  font-family: 'Montserrat';
  font-weight: bold;
  padding: 17px 27px;
  cursor: pointer;
  background-color: #F99C17;
  color: #F9F7E1;
}

.start-button:hover {
  border: 1px solid  #F9F7E1;
  background-color: #F9F7E1;
  color: #F99C17;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  margin: 10px 0;
  color: #F9F7E1;
}

.question-section {
  width: 30%;
  min-height: 100vh;
  background-color: #44500A;
  display: flex;
  flex-direction: column;
  padding: 5vw;
  align-items: flex-start;
  box-sizing: border-box;
}

select {     /*Text inside the box while wating*/
  display: block;
  border: none;
  background-color: #F9F7E1;
  font-size: 22px;
  font-family: 'Montserrat';
  color: #44500A;
  width: 100%;
  margin: 24px 0;

}


.guess-who-icon {
  width: 126px;
}

.board-wrapper {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F9F7E1;
}

.game-board {
  width: 90%;
  max-width: 882px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

/****** CARD ******/
.card {
  width: 135px;
  height: 165px;
  overflow: hidden;
  border: 3px solid #44500A;
  border-radius: 1px;
  margin: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f3ec ;
}

.card p {
  text-align: center;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
}

.card .guess {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #F9F7E1;
  text-align: center;
  height: inherit;
}

.card:hover {
  background-color: #44500A;
}

.card:hover img,
.card:hover p {
  display: none;
}

/* The div with the guess class is only shown on hover */
.card:hover .guess {
  display: flex;
}

.guess span {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  margin-bottom: 8px;
  width: 90%;
}

 
/****** BUTTONS ******/
button {
  border: 2px solid var(--primary);
  border-radius: 50px;
  font-size: 16px;
  font-family: 'Montserrat';
  font-weight: bold;
  padding: 17px 27px;
  cursor: pointer;
  color: #F99C17;
}

.small {
  padding: 8px 16px;
}

.outlined-button {
  background-color: transparent;
  color: var(--primary);
  align-self: flex-end;
}

.filled-button,
.outlined-button:hover {
  background-color: var(--primary);
  color: #F99C17;
}

.filled-button:hover {
  background-color: #F99C17;
  border-color: #F99C17;
  color: var(--primary);
}



/****** WIN OR LOSE SECTION ******/
.win-or-lose-wrapper {
  display: none;
  align-items: center;
  justify-content: center;
  background: #44500A;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
}

.win-or-lose {
  display: flex;
  margin: 0 auto; 
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  text-align: center;
  padding-top: 190px;
}

.win-or-lose img {
  align-self: flex-start;
  margin-left: 15%;
}

.win-or-lose h1 {
  margin-bottom: 32px;
}


@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  .question-section {
    width: 100%;
    min-height: 0;
  }

  select{
    width: 90%;
    margin: 20px auto;
  }

  button {
    padding: 8px 16px;
    margin: 10px auto;
  }
  h1 {
    padding-top: 10px;
    font-size: 28px;
    line-height: 30px;
    margin: 0 auto;
  }

  .guess-who-icon {
    width: 80px;
    padding-top: 10px;
  }

  .board-wrapper {
    width: 100%;
    padding-bottom: 5px;
  }

 
  .game-board {
    width: 100%;
    max-width: 750px;
  }
  


  .card {
    width: 113px;
    position: relative;
  }

  .card .guess {
    display: flex;
    top: 0;
    position: absolute;
    justify-content: flex-end;
  }

  .card .guess span {
    display: none;
  }

  .card .guess .filled-button {
    padding: 6px 11px;
    margin-bottom: 1px;
    background: #F99C17;
    color: var(--primary);
    border: none;
  }

  .win-or-lose{
    padding: 20px;
    padding-top: 180px;
  }

}

