/* Global css variables used for colors */
:root {
  --primary: #FF9E00;
  --secondary: #fad08d; 
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: #f0daf1;
}

h1 {
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  margin: 10px 0;
  color: #63458A;
}

.question-section {
  width: 30%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 5vw;
  align-items: flex-start;
  box-sizing: border-box;
}

select {
  display: block;
  border: none;
  font-size: 22px;
  font-family: 'Montserrat';
  color: #63458A;
  width: 100%;
  margin: 24px 0;
  background-color: #FFFFFF;
  border: 1px solid #000000;
}

.guess-who-icon {
  width: 150px;
}

.question-counter {
  color: #63458A;
  font-size: 20px;
  border: 1px solid var(--primary);
  border-radius: 50px;
  padding: 10px;

}

.board-wrapper {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-board {
  width: 90%;
  max-width: 882px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

/****** CARD ******/
.card {
  width: 135px;
  height: 165px;
  overflow: hidden;
  background-color: #FFFFFF;
  border: 3px solid #A06CD5;
  border-radius: 4px;
  margin: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card p {
  text-align: center;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
  color: #63458A;
}

.card .guess {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: inherit;
}

.card:hover {
  background-color: #FFD670;
  color: #63458A;
}

.card:hover img,
.card:hover p {
  display: none;
}

/* The div with the guess class is only shown on hover */
.card:hover .guess {
  display: flex;
}

.guess span {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  margin-bottom: 8px;
  width: 90%;
}

/****** BUTTONS ******/
button {
  border: 2px solid var(--primary);
  border-radius: 50px;
  font-size: 16px;
  font-family: 'Montserrat';
  font-weight: bold;
  padding: 17px 27px;
  cursor: pointer;
  color: #63458A;
}

.small {
  padding: 8px 16px;
}

.outlined-button {
  background-color: transparent;
  align-self: flex-end;
}

.filled-button,
.outlined-button:hover {
  background-color: var(--primary);
}

.filled-button:hover {
  background-color: #63458A;
  color: var(--primary);
  border: 2px solid #FFFFFF;
}

/****** WIN OR LOSE SECTION ******/
.win-or-lose-wrapper {
  display: none;
  align-items: center;
  justify-content: center;
  background: var(--secondary);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
}

.win-or-lose {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  text-align: center;
}

.win-or-lose img {
  align-self: flex-start;
  margin-left: 15%;
}

.win-or-lose h1 {
  margin-bottom: 32px;
}

@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  .question-section {
    width: 100%;
    min-height: 0;
  }
  button {
    padding: 8px 16px;
  }
  h1 {
    font-size: 24px;
    line-height: 30px;
  }

  .guess-who-icon {
    width: 51px;
  }

  .board-wrapper {
    width: 100%;
  }

  .game-board {
    width: 100%;
    max-width: 750px;
  }

  .card {
    width: 113px;
    position: relative;
  }

  .card .guess {
    display: flex;
    top: 0;
    position: absolute;
    justify-content: flex-end;
  }

  .card .guess span {
    display: none;
  }

  .card .guess .filled-button {
    padding: 6px 11px;
    margin-bottom: 1px;
    background: #FFFFFF;
    color: var(--primary);
    border: none;
  }
}
