@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@400;600&display=swap');

/* Global css variables used for colors */
:root {
  --primary: #395F5F;
  --secondary: #5F9DA0;
}

/* General styling */
body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  position: relative;
  border: 20px solid #395F5F;
  min-height: 100vh;
}

h1 {
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  margin: 10px 0;
  color: #FEFBF3;
  text-align: center;
}

p {
  font-family: 'poppins';
  color: var(--primary);
}

/* Styling for start overlay */
.start-wrapper-overlay {
  background-color: rgb(57, 95, 95, 0.9);
  width: 100%;
  height: 100%;
  min-height: 100%;
  z-index: 10000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.start-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  text-align: center;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 18rem
}

.guess-who {
  font-size: 7vw;
  margin-bottom: 15px;
  color: #DAA51F;
  border-bottom: 5px solid #FEFBF3;
  padding-bottom: 39px;
}

.big-intro-text {
  font-size: 35px;
  font-weight: lighter;
}

.small-intro-text {
  font-family: 'poppins';
  color: #FEFBF3;
  text-align: center;
  font-weight: lighter;
}

/* Styling for start overlay */
.question-text {
  font-size: 20px;
  margin-top: 20px;
  font-family: 'poppins';
}

.question-header {
  text-align: left;
}

/* Styling for the question section */
.question-section {
  width: 30%;
  min-height: 100vh;
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  padding: 5vw;
  align-items: flex-start;
  box-sizing: border-box;
}

.questionsDisplay {
  width: 100%;
  display: flex;
}

select {
  display: block;
  border: none;
  font-size: 17px;
  font-family: "Poppins";
  color: var(--secondary);
  width: 100%;
  margin: 24px 0;
}

/* Styling for the board section */
.board-wrapper {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FEFBF3;
}

.game-board {
  width: 90%;
  max-width: 882px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

/****** CARDS ******/

.card {
  width: 135px;
  height: 165px;
  overflow: hidden;
  border: 3px solid var(--secondary);
  border-radius: 10px;
  margin: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card p {
  text-align: center;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
}

.card .guess {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FEFBF3;
  text-align: center;
  height: inherit;
}

.card:hover {
  background-color: var(--secondary);
  transition: all 1.5s ease;
}

.card:hover img,
.card:hover p {
  display: none;
}

/* The div with the guess class is only shown on hover */
.card:hover .guess {
  display: flex;
}

.guess span {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  margin-bottom: 8px;
  width: 90%;
}

/****** BUTTONS ******/

button {
  border: 2px solid var(--primary);
  border-radius: 50px;
  font-size: 16px;
  font-family: "Poppins";
  font-weight: bold;
  padding: 17px 27px;
  cursor: pointer;
}

.pop-up-button {
  margin-top: 16px;
}

#startButton {
  margin-top: 1rem;
}

.small {
  padding: 8px 16px;
}

.outlined-button {
  background-color: transparent;
  color: var(--primary);
  align-self: flex-end;
}

.filled-button,
.outlined-button:hover {
  background-color: var(--primary);
  color: #FEFBF3;
  transition: all 1.5s ease;
}

.filled-button:hover {
  background-color: #DAA51F;
  border: 1px solid #FEFBF3;
  color: var(--primary);
  transition: all 1.5s ease;
}

/****** STYLING OF POP UPS ******/

/* Questions */
.pop-up-question-wrapper {
  display: none;
  justify-content: center;
  background-color: rgb(57, 95, 95, 0.9);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  min-height: 100%;
  z-index: 10000;
}

.pop-up-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  margin-top: 20rem;
}

/* Confirms */
.confirm-wrapper {
  display: none;
  justify-content: center;
  background-color: rgb(57, 95, 95, 0.9);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  min-height: 100%;
  z-index: 10000;
}

.confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  margin-top: 20rem;
}

.button-wrapper {
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* Win or loose */
.win-or-lose-wrapper {
  display: none;
  justify-content: center;
  background: var(--secondary);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
}

.win-or-lose {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  text-align: center;
}

.win-or-lose h1 {
  margin-bottom: 32px;
}

/****** SMALL SCREENS ******/

@media (max-width: 768px) {

  body {
    flex-direction: column;
    border: 10px solid #395F5F;
  }

  .question-section {
    width: 100%;
    min-height: 0;
  }

  button {
    padding: 8px 16px;
  }

  h1 {
    font-size: 24px;
    line-height: 30px;
  }

  h3 {
    font-size: 15px;
    color: #DAA51F;
  }

  .big-intro-text {
    font-size: 23px;
  }

  .guess-who {
    font-size: 13vw;
    margin-bottom: 7px;
    padding-bottom: 25px;
  }

  .board-wrapper {
    width: 100%;
  }

  .game-board {
    width: 100%;
    max-width: 750px;
    justify-content: center;
  }

  .card {
    width: 113px;
    position: relative;
  }

  .card .guess {
    display: flex;
    top: 0;
    position: absolute;
    justify-content: flex-end;
  }

  .card .guess span {
    display: none;
  }

  .card .guess .filled-button {
    padding: 6px 11px;
    margin-bottom: 11px;
    background: #FEFBF3;
    color: var(--primary);
    border: 1px solid #395F5F;
  }
}
