@keyframes loader {
  15% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(250px);
  }
  65% {
    transform: translateX(250px);
  }
  95% {
    transform: translateX(0);
  }
}
@keyframes loading-text {
  0% {
    content: "Loading";
  }
  25% {
    content: "Loading.";
  }
  50% {
    content: "Loading..";
  }
  75% {
    content: "Loading...";
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse {
  0% {
    color: rgb(29, 29, 29);
  }
  100% {
    /* background-color: #ff4136; */
    background: rgb(255, 78, 80);
    background: linear-gradient(
      90deg,
      rgba(255, 78, 80, 1) 0%,
      rgba(249, 212, 35, 1) 35%,
      rgba(0, 221, 255, 1) 100%
    );
    color: transparent;
    background-clip: text;
  }
}
