/* Global css variables used for colors */
:root {
  --primary: #a259ff;
  --secondary: #b0a6ff;
  --secondaryOverlay: #b0a6fff3;
}

/* Alignment and size for main application wrappers */
body {
  display: flex;
  margin: 0;
  padding: 0;
}

.side-section {
  width: 30%;
  min-height: 100vh;
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  padding: 5vw;
  align-items: flex-start;
  box-sizing: border-box;
}

.board-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.end-screen__wrapper {
  align-items: center;
  justify-content: center;
  background: var(--secondary);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
}

/* Reusable class to hide elements */
.hidden {
  display: none !important;
}
